.student-layout {
    .title {
        width: 100%;
        padding: 1em;
        text-align: center;
        background-color: $blue;
        color: $black;
        margin: 0;

        font-size: 18px;
        font-weight: bold;
    }

    .nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        position: sticky;
        top: 0;
        z-index: 999;

        background-color: $gray;
        color: $white;
        padding: 1em;

        &-left,
        &-right {
            flex: 1;
        }

        &-left {
            padding: 1em;

            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .nav-item {
                margin-right: 2.5em;

                display: flex;
                flex-wrap: wrap;
                align-items: center;

                svg {
                    margin-right: 0.6em;
                }
            }
        }

        &-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            &--name {
                margin-right: 1em;
            }

            &--avatar {
                border-radius: 50%;
            }
        }
    }
}

.content {
    min-height: 90vh;
    padding-top: 3em;

    .options {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        &-item {
            min-width: 25em;
            border: solid;
            padding: 2em;
            margin: 1em;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 10em;

            &:hover {
                box-shadow: 0 0 3em $gray;
            }
        }
    }
}

.footer {
    background-color: $gray;
    color: $white;

    padding: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    &--heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
